html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

:root {
  --color-red-primary: #e93630;
  --color-red-secondary: #ee654e;
  --color-blue-dark: #0a2c88;
  --color-red-bright: #fc1620;
  --color-charcoal: #201f2e;
  --color-mauve: #c7998e;
  --color-navy: #20244f;
  --color-plum-muted: #65525b;
  --color-maroon: #912225;
}
